# Auth & Features
VITE_LOGTO_ENDPOINT=
VITE_LOGTO_APP_ID=
VITE_ENABLE_SIGNIN=true
VITE_ENABLE_NOTIFICATIONS=true

# Playback & Customization
FORCED_SUBSCRIPTION_CHANNEL_ID= # Comma-separated channel IDs
ADMIN_SECRET_TOKEN= # Secret token for admin API
LOG_LEVEL=info

# Domain and Database
DOMAIN=localhost
POSTGRES_PASSWORD=whotubepass
POSTGRES_USER=whotube
POSTGRES_DB=whotube
REDIS_URL=redis://redis:6379

# YouTube Settings
YOUTUBE_REGION=JP
YOUTUBE_IP_ROTATION_IPS=

# Companion (Accepts comma-separated URLs for load balancing)
COMPANION_BASE_URL=
COMPANION_SECRET=